.main {
  padding: 20px;
  background: rgb(50, 187, 96);
  display: flex;
  align-items: flex-start;
  flex-flow: wrap;
  .main-title {
    width: 100%;
  }
}
.hide {
  display: none;
  &.active {
    display: inline;
  }
}
.geolocation {
  display: none;
  &.active {
    display: inline;
  }
}
.btn-toggle {
  background: rgb(6, 233, 6);
  &.active{
    background: rgb(255, 5, 5);
  }
}
