@import '../../variables';

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #fff;

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .site-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }

  .site-list-item {
    margin: 0 10px 0 0;
  }

  .user {
    position: relative;
    width: 20%;
    text-align: right;
    cursor: pointer;
    border: 10px solid transparent;

    &:hover .user-list{
      z-index: 2;
      padding: 0px 10px;
      font: inherit;
      background: $bg-darkgrey;
      box-shadow: 0 0 5px 2px #fff;

    }
  }

  .user-list {
    position: absolute;
    bottom: -50px;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
    background: transparent;
    list-style: none;
    transition: all 0.5s;
  }

  .user-logout {
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
