@import 'variables';

* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 62.5%
}
body {
  font: 1.6rem/2rem sans-serif;
  color: #74777b;
  background: url(https://img00.deviantart.net/9589/i/2009/340/5/5/brushed_metal_silver_texture_by_sweetsoulsister.jpg);
  margin: 0;
  p {
    margin: 0;
  }
}
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}
